venv/
.venv/
env/
ENV/
.idea/
__pycache__/
*.py[cod]
*$py.class
*.so
*.log
*.tmp
*.swp
.DS_Store
.env
.cache/
*.pkl
*.h5
*.pb
.ipynb_checkpoints/
*.ipynb
.vscode/
shape_predictor_68_face_landmarks.dat
*.dat
*.bz2
