# Entornos virtuales
venv/
.venv/
env/
ENV/

# Configuración de PyCharm
.idea/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos temporales
*.log
*.tmp
*.swp
.DS_Store

# Configuración del entorno
.env

# Modelos descargados
.deepface/
weights/
models/

# Archivos de cache
.cache/
*.pkl
*.h5
*.pb

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/
