# --- Librerías del Proyecto Original ---
opencv-python
hsemotion==0.2.0
torch
numpy

# --- Librerías de Conversión (El Combo Compatible) ---
# Estas versiones son críticas para que smart_convert.py funcione
tensorflow==2.15.0
tensorflow-probability==0.23.0
onnx==1.15.0
onnx-tf==1.10.0
protobuf==3.20.3