# Librería del modelo original
hsemotion
torch
torchvision

# Herramientas de conversión e intercambio
onnx
onnx-simplifier
onnx-graphsurgeon
simple_onnx_processing_tools
sng4onnx

# Herramienta principal de conversión a TFLite
onnx2tf

# Dependencias necesarias para onnx2tf y TensorFlow
tensorflow
tf_keras
psutil
numpy